domain:
referal_code:

security:
    incorrect_login_delay: minutes
    incorrect_login_max_count:

    auth_token_header:
    auth_token_key:
    auth_token_expire: days
    auth_token_otp:

    secrets_key:

admin_password:

database_postgres:
    host:
    port:
    user:
    password:
    database:
